.news-container {
  flex: 0 0 30%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
}

.news-container:hover {
  transform: scale(1.05); /* Add a slight scale effect on hover */
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.news-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.news-category {
  font-size: 1em;
  color: #555;
  margin-bottom: 10px;
}

.news-play {
  width: 40px; /* Adjust the width of the play button */
  height: 40px; /* Adjust the height of the play button */
}
  