@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap");

/* Variable Declaration on Root */

:root {
  --Font1: #2D2C2A; /* Main Font Color */
  --Font2: #2C5144; /* Secondary Font Color */
  --Back1: #B9DBCF; /* Background 1 */
  --Back2: #FCFBF9; /* Background 2 */
  --white: #FFFFFF; /* White */
  --red: rgb(252, 86, 108); /* required field */
}

/* Common Styling */

* {
  font-family: Chivo, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  background-color: var(--Back1);
}

/* Main Container */

/* Image Adjustment */

#content {
  padding: 300px;
}

#underline {
  text-decoration: underline;
}

.maintext {
    margin-top: 30px;
  /* padding: 20px; */
  font-size: 80px;
  color: var(--Back2);
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

/* Options formatting */

#options {
  display: flex;
  /* gap: 30px;
  justify-content: space-around; */
  
}

.category {
  margin-bottom: 40px;
}

/* Button container formatting */

.buttonbox {
  color: var(--Back2);
  font-size: 30px;
  text-align: center;

}

.buttonlayout {

}

/* Button formatting */

button {
  border: 0;
  background-color: var(--Font2);
  color: var(--Back2);
  padding: 10px 20px;
  letter-spacing: 0.05em;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-check {
  opacity:0
}

.btn {
  border: 0;
  background-color: var(--Font2);
  color: var(--Back2);
  padding: 10px 20px;
  letter-spacing: 0.05em;
  border-radius: 5px;
  margin-top: 20px;
  width: 80px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: var(--Back2);
  transition: 0.2s;
  color: var(--Font1);
}

button:hover {
  background-color: var(--Back2);
  transition: 0.2s;
  color: var(--Font1);
}

button:active
{
  background-color: var(--red);
  transition: 0.2s;
  color: var(--Font1);
}

.active {
  background-color: var(--white);
  color: var(--Font1);
}

#next {
  width: 100px;
  height: 50px;
  position: absolute;
  right:    0;
  bottom:   0;
  justify-self: end;
  margin-right: 20px;
  margin-bottom: 20px;
}